body{
	color: white;
	background-color: #E6E6FA;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
}
a{
	text-decoration: none;
}
a:hover{
	color: darkblue;
}