body{
	color: black;
	background-color: #E6E6FA;
	font-family: Monospace;
}
header{
	color: purple;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	color: pink;
}
.caixa{
	border: none;
	border-radius: 10px;
	background-color: #C6C6F0;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.caixa2{
	border: none;
	border-radius: 10px;
	background-color: #C6C6F0;
	padding: 15px;
}
img{
	border: solid none;
	border-radius: 20px;
	display: block;
	margin: 0 auto;
	width: 335px;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}