body{
	color: black;
	background-color: #E6E6FA;
}
header{
	color: purple;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
}
a{
	color: darkblue;
	text-decoration: none;
}
a:hover{
	color: pink;
}
.caixa{
	border: solid #aaaaa;
	border-radius: 10px;
	background-color: #C6C6F0;
	padding: 15px;
}
img{
	border: solid none;
	border-radius: 20px;
}